<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Афанасий | Работа</title>

    <link rel="stylesheet" href="vendor/u-bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="vendor/u-bootstrap/u-bootstrap5.min.css">
    <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="vendor/mmenu/dist/mmenu.css">
    <link rel="stylesheet" href="vendor/mburger-css/dist/mburger.css">
    <link rel="stylesheet" href="vendor/fancybox4/dist/fancybox.css">
    <link rel="stylesheet" href="vendor/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
    <div id="js-page" class="page">

        <section class="section u-bg-gradient-green u-pt-0">
            <header>
                <div class="container">
                    <div class="navbar">
                        <!-- <a class="u-d-xl-none u-d-lg-block u-d-none u-w-100 u-text-center u-mb-4" href="#"><img src="img/logo.svg" alt="logo"></a> -->
                        <a class="u-pe-4" href="#"><img src="img/logo.svg" alt="logo"></a>
                        <div class="u-d-flex u-align-items-baseline">
                            <nav id="js-main-menu">
                                <ul class="navbar__list">
                                    <li class="navbar__item"><a href="#" class="navbar__link">Главная</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Вакансии</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Студентам и выпускникам</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Контакты</a></li>
                                </ul>
                            </nav>
                        </div>
                        <a class="mburger u-d-block u-d-lg-none" href="#js-main-menu">
                            <span>Меню</span>
                            <b></b>
                            <b></b>
                            <b></b>
                        </a>
                        <div class="navbar__socials u-d-lg-flex u-d-none">
                            <a href="#">
                                <img src="img/icon/ico-fb.svg" alt="fb">                            
                            </a>
                            <a href="#">
                                <img src="img/icon/ico-vk.svg" alt="fb">                            
                            </a>
                            <a href="#">
                                <img src="img/icon/ico-inst.svg" alt="fb">                            
                            </a>
                            <a href="#">
                                <img src="img/icon/ico-youtube.svg" alt="fb">                            
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="u-h1 u-text-white">Истории успеха</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--bg-history">
            <div class="container u-position-relative">
                <div class="bg-word">Success stories</div>
                <div class="row">
                    <div class="col-lg-4 u-mb-4 u-mb-lg-0">
                        <div class="u-h2 u-mb-4">
                            <div class="u-h2">Опыт взаимодействия</div>
                        </div>
                        <div>
                            Отзывы людей трудящихся или трудившихся в холдинге Афанасий
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="comment">
                            <div class="comment__head">
                                <img src="img/comment.png" alt="comment">
                                <div>
                                    <div class="comment__name">Лариса Хлебникова</div>
                                    <div class="comment__date">22 ноября 2021</div>
                                </div>
                            </div>
                            <div class="comment__content">
                                Работа у нас предполагает желание эффективно трудиться, постоянно развиваться и добиваться результата, внося новые предложения и проявляя инициативу. Эти качества для нас подчас важнее опыта и профильного образования. Своим сотрудникам мы даем максимальные возможности для карьерного роста и заработка без «потолка», создавая среду для развития личностных и профессиональных качеств. Для этого в холдинге развита система наставничества, проводятся регулярные тренинги, бизнес-игры и действует прозрачная система мотивации, стимулирующая на работу с полной отдачей.
                                <br>Если Вы считаете себя человеком, для которого собственное развитие и движение вперёд – это внутренняя потребность, нам по пути.
                                <br><br>
                                Мы высоко ценим увлечённость идеями компании. В холдинге создана особая корпоративная среда, которая делает сотрудников не просто коллегами, но единомышленниками и сильной Командой, которой все по плечу. Поэтому до собеседования изучите на нашем сайте и в наших социальных сетях информацию о ценностях холдинга, чтобы понять, созвучны ли они вашим принципам и установкам. Созвучны? Тогда подписывайтесь на наши страницы в социальных сетях, добавляйте в друзья руководителя холдинга Максима Ларина, приходите на собеседование и вливайтесь в нашу дружную команду!
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment__head">
                                <img src="img/comment.png" alt="comment">
                                <div>
                                    <div class="comment__name">Ирина Васильева</div>
                                    <div class="comment__date">22 ноября 2021</div>
                                </div>
                            </div>
                            <div class="comment__content">
                                «Афанасий» давно зарекомендовал себя на тверском рынке труда кузницей кадров. Немало успешных ныне руководителей крупных тверских компаний вышли когда-то из стен пивзавода, получив здесь блестящий старт карьеры. А большинство сегодняшних топ-менеджеров холдинга выросли на родном предприятии из рядовых сотрудников.
                            </div>
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/vshMJebnu-Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="comment">
                            <div class="comment__head">
                                <img src="img/comment.png" alt="comment">
                                <div>
                                    <div class="comment__name">Максим Смирнов</div>
                                    <div class="comment__date">22 ноября 2021</div>
                                </div>
                            </div>
                            <div class="comment__content">
                                Мы высоко ценим увлечённость идеями компании. В холдинге создана особая корпоративная среда, которая делает сотрудников не просто коллегами, но единомышленниками и сильной Командой, которой все по плечу. Поэтому до собеседования изучите на нашем сайте и в наших социальных сетях информацию о ценностях холдинга, чтобы понять, созвучны ли они вашим принципам и установкам. Созвучны? Тогда подписывайтесь на наши страницы в социальных сетях, добавляйте в друзья руководителя холдинга Максима Ларина, приходите на собеседование и вливайтесь в нашу дружную команду
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

        <footer class="footer section section--bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer__wrapper">
                            <img src="img/logo-gray.svg" alt="logo" class="footer__logo">
                            <button class="button button--small button--primary">Отправить резюме</button>
                            <div class="footer__list">
                                <a href="#" class="footer__list-item">Подписаться на вакансии</a>
                                <a href="#" class="footer__list-item">Читать блог холдинга</a>
                                <a href="#" class="footer__list-item">Все об экосистеме Афанасий</a>
                                <a href="#" class="footer__list-item">Сайт холдинга Афанасий</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="footer__copy">
                            © ООО «Афанасий» 2021. Политика о данных пользователей.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>

    <script src="vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/mmenu/dist/mmenu.js"></script>
    <script src="vendor/mburger-css/dist/mburger.js"></script>
    <script src="vendor/fancybox4/dist/fancybox.umd.js"></script>
    <script src="vendor/bootstrap5/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>