<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Афанасий | Работа</title>

    <link rel="stylesheet" href="vendor/u-bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="vendor/u-bootstrap/u-bootstrap5.min.css">
    <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="vendor/mmenu/dist/mmenu.css">
    <link rel="stylesheet" href="vendor/mburger-css/dist/mburger.css">
    <link rel="stylesheet" href="vendor/fancybox4/dist/fancybox.css">
    <link rel="stylesheet" href="vendor/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
    <div id="js-page" class="page">

        <section class="section section--promo">
            <header>
                <div class="container">
                    <div class="navbar">
                        <!-- <a class="u-d-xl-none u-d-lg-block u-d-none u-w-100 u-text-center u-mb-4" href="#"><img src="img/logo.svg" alt="logo"></a> -->
                        <a class="u-pe-4" href="#"><img src="img/logo.svg" alt="logo"></a>
                        <div class="u-d-flex u-align-items-baseline">
                            <nav id="js-main-menu">
                                <ul class="navbar__list">
                                    <li class="navbar__item"><a href="#" class="navbar__link">Главная</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Вакансии</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Студентам и выпускникам</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Контакты</a></li>
                                </ul>
                            </nav>
                        </div>
                        <a class="mburger u-d-block u-d-lg-none" href="#js-main-menu">
                            <span>Меню</span>
                            <b></b>
                            <b></b>
                            <b></b>
                        </a>
                        <div class="navbar__socials u-d-lg-flex u-d-none">
                            <a href="#">
                                <img src="img/icon/ico-fb.svg" alt="fb">                            
                            </a>
                            <a href="#">
                                <img src="img/icon/ico-vk.svg" alt="fb">                            
                            </a>
                            <a href="#">
                                <img src="img/icon/ico-inst.svg" alt="fb">                            
                            </a>
                            <a href="#">
                                <img src="img/icon/ico-youtube.svg" alt="fb">                            
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            
            <div class="promo">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="promo__title promo__title--first promo__title--big u-text-lg-start u-text-center">Хочу работать</div>
                            <div class="promo__title promo__title--second promo__title--small u-text-center">Менеджмент и продажи</div>
                            <div class="promo__title promo__title--third promo__title--big u-text-center">В холдинге Афанасий</div>
                            <div class="u-text-center">
                                <button class="button button--promo">
                                    Отправить резюме
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="promo__scroll">
                <img src="img/icon/ico-scroll.svg" alt="scroll down">
            </div>
        </section>

        <section class="section section--bg-vacancy">
            <div class="container u-position-relative">
                <div class="bg-word">VACANCY</div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="u-h2">Вакансии</div>
                    </div>
                    <div class="col-lg-8 u-my-4">
                        <form action="#">
                            <div class="find">
                                <input type="submit">
                                <input type="text" name="search" placeholder="Поиск по вакансиям">
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4 col-sm-6 offset-lg-4 u-mb-4">
                        <a href="#" class="card">
                            <div class="card__title">
                                Производство
                            </div>
                            <div class="card__vacancies">
                                Вакансии: 18
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 u-mb-4">
                        <a href="#" class="card">
                            <div class="card__title">
                                Продажи
                            </div>
                            <div class="card__vacancies">
                                Вакансии: 22
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 offset-lg-4 u-mb-4">
                        <a href="#" class="card">
                            <div class="card__title">
                                Маркетинг
                            </div>
                            <div class="card__vacancies">
                                Вакансии: 8
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 u-mb-4">
                        <a href="#" class="card">
                            <div class="card__title">
                                Фирменная сеть магазинов
                            </div>
                            <div class="card__vacancies">
                                Вакансии: 22
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 offset-lg-4 u-mb-4">
                        <a href="#" class="card">
                            <div class="card__title">
                                Бухгалтерия и финансы
                            </div>
                            <div class="card__vacancies">
                                Вакансии: 8
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 u-mb-4">
                        <a href="#" class="card">
                            <div class="card__title">
                                Управление персоналом
                            </div>
                            <div class="card__vacancies">
                                Вакансии: 22
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 offset-lg-4 u-mb-4">
                        <a href="#" class="card">
                            <div class="card__title">
                                IT
                            </div>
                            <div class="card__vacancies">
                                Вакансии: 8
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 u-mb-4">
                        <a href="#" class="card">
                            <div class="card__title">
                                Сельское хозяйство
                            </div>
                            <div class="card__vacancies">
                                Вакансии: 22
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 offset-lg-4 u-mb-4">
                        <a href="#" class="card">
                            <div class="card__title">
                                Транспорт, логистика
                            </div>
                            <div class="card__vacancies">
                                Вакансии: 8
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 u-mb-4">
                        <a href="#" class="card">
                            <div class="card__title">
                                Туризм, ресторан
                            </div>
                            <div class="card__vacancies">
                                Вакансии: 22
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 offset-lg-4 u-mb-4">
                        <a href="#" class="card">
                            <div class="card__title">
                                Рабочий персонал
                            </div>
                            <div class="card__vacancies">
                                Вакансии: 8
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
        </section>
        
        <section class="section section--bg-bonuses section--bg-gray">
            <div class="container u-position-relative">
                <div class="bg-word">Bonuses</div>
                <div class="row">
                    <div class="col-lg-4 u-mb-lg-0 u-mb-4">
                        <div class="u-h2">Почему Афанасий</div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="bonus">
                            <img src="img/icon/ico-advantages-1.svg" alt="popular">
                            <div class="bonus__title">
                                Известный бренд с 45-летней историей
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="bonus">
                            <img src="img/icon/ico-advantages-4.svg" alt="popular">
                            <div class="bonus__title">
                                Заработные платы выше рынка
                            </div>
                        </div>
                    </div>
                    <div class="offset-lg-4 col-lg-4 col-sm-6">
                        <div class="bonus">
                            <img src="img/icon/ico-advantages-2.svg" alt="popular">
                            <div class="bonus__title">
                                Полный социальный пакет
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="bonus">
                            <img src="img/icon/ico-advantages-5.svg" alt="popular">
                            <div class="bonus__title">
                                Реальные возможности профессионального и карьерного роста
                            </div>
                        </div>
                    </div>
                    <div class="offset-lg-4 col-lg-4 col-sm-6">
                        <div class="bonus">
                            <img src="img/icon/ico-advantages-3.svg" alt="popular">
                            <div class="bonus__title">
                                Мультипродуктовый холдинг с возможностью развития в самых разных направлениях
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="bonus">
                            <img src="img/icon/ico-advantages-6.svg" alt="popular">
                            <div class="bonus__title">
                                Программа лояльности для сотрудников по всем продуктам экосистемы холдинга: сеть экобутиков, клиника, базы отдыха в Ордино и Весьегонске, клиника, аквачистка
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--bg-agitation u-pb-0">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-4 u-mb-lg-0 u-mb-4">
                        <div class="u-h2">Нам нужны люди, разделяющие наши ценности</div>
                    </div>
                </div>
                <div class="swiper swiper-agitation">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-agitation-slide">
                                <div class="swiper-agitation-slide__wrapper">
                                    <div class="swiper-agitation-slide__wrapper-title">
                                        Максим Ларин
                                    </div>
                                    <div class="swiper-agitation-slide__wrapper-position">
                                        руководитель холдинга Афанасий
                                    </div>
                                    <div class="swiper-agitation-slide__wrapper-description">
                                        Делаем качественно, потому что для себя
                                    </div>
                                </div>
                                <img src="img/gal-agitation-1.png" alt="1" class="swiper-agitation-slide__img u-d-lg-inline-block u-d-none">
                                <img src="img/gal-agitation-1--horizontal.png" alt="1" class="swiper-agitation-slide__img u-d-lg-none u-d-inline-block">
                        </div>
                        <div class="swiper-slide swiper-agitation-slide">
                            <div class="swiper-agitation-slide__wrapper">
                                <div class="swiper-agitation-slide__wrapper-title">
                                    Иванов Иван
                                </div>
                                <div class="swiper-agitation-slide__wrapper-position">
                                    сотрудник технической поддержки
                                </div>
                                <div class="swiper-agitation-slide__wrapper-description">
                                    Делаем качественно, потому что для себя
                                </div>
                            </div>
                            <img src="img/gal-agitation-2.png" alt="1" class="swiper-agitation-slide__img">
                        </div>
                        <div class="swiper-slide swiper-agitation-slide">
                            <div class="swiper-agitation-slide__wrapper">
                                <div class="swiper-agitation-slide__wrapper-title">
                                    Максим Ларин
                                </div>
                                <div class="swiper-agitation-slide__wrapper-position">
                                    руководитель холдинга Афанасий
                                </div>
                                <div class="swiper-agitation-slide__wrapper-description">
                                    Делаем качественно, потому что для себя
                                </div>
                            </div>
                            <img src="img/gal-agitation-3.png" alt="1" class="swiper-agitation-slide__img">
                        </div>
                        <div class="swiper-slide swiper-agitation-slide">
                            <div class="swiper-agitation-slide__wrapper">
                                <div class="swiper-agitation-slide__wrapper-title">
                                    Максим Ларин
                                </div>
                                <div class="swiper-agitation-slide__wrapper-position">
                                    руководитель холдинга Афанасий
                                </div>
                                <div class="swiper-agitation-slide__wrapper-description">
                                    Делаем качественно, потому что для себя
                                </div>
                            </div>
                            <img src="img/gal-agitation-4.png" alt="1" class="swiper-agitation-slide__img">
                        </div>
                        <div class="swiper-slide swiper-agitation-slide">
                            <div class="swiper-agitation-slide__wrapper">
                                <div class="swiper-agitation-slide__wrapper-title">
                                    Максим Ларин
                                </div>
                                <div class="swiper-agitation-slide__wrapper-position">
                                    руководитель холдинга Афанасий
                                </div>
                                <div class="swiper-agitation-slide__wrapper-description">
                                    Делаем качественно, потому что для себя
                                </div>
                            </div>
                            <img src="img/gal-agitation-5.png" alt="1" class="swiper-agitation-slide__img">
                        </div>
                        <!-- <div class="swiper-slide swiper-agitation-slide">
                            <div class="swiper-agitation-slide__wrapper">
                                <div class="swiper-agitation-slide__wrapper-title">
                                    Максим Ларин
                                </div>
                                <div class="swiper-agitation-slide__wrapper-position">
                                    руководитель холдинга Афанасий
                                </div>
                                <div class="swiper-agitation-slide__wrapper-description">
                                    Делаем качественно, потому что для себя
                                </div>
                            </div>
                            <img src="img/gal-agitation-6.png" alt="1" class="swiper-agitation-slide__img">
                        </div>
                        <div class="swiper-slide swiper-agitation-slide">
                            <div class="swiper-agitation-slide__wrapper">
                                <div class="swiper-agitation-slide__wrapper-title">
                                    Максим Ларин
                                </div>
                                <div class="swiper-agitation-slide__wrapper-position">
                                    руководитель холдинга Афанасий
                                </div>
                                <div class="swiper-agitation-slide__wrapper-description">
                                    Делаем качественно, потому что для себя
                                </div>
                            </div>
                            <img src="img/gal-agitation-7.png" alt="1" class="swiper-agitation-slide__img">
                        </div> -->
                    </div>
                    <div class="agitation__pagination-item--prev swiper-button-prev"></div>
                    <div class="agitation__pagination-item--next swiper-button-next"></div>
                </div>
            </div>
        </section>
        
        <section class="section section--bg-gray">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-lg-4 u-mb-lg-5 u-mb-4">
                        <div class="u-h2">Галерея</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 u-position-relative">
                        <div class="swiper swiper-gallery">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiper-gallery-slide">
                                    <img src="img/gal-1.jpg" alt="gal">
                                </div>
                                <div class="swiper-slide swiper-gallery-slide">
                                    <img src="img/gal-2.jpg" alt="gal">
                                </div>
                                <div class="swiper-slide swiper-gallery-slide">
                                    <img src="img/gal-3.jpg" alt="gal">
                                </div>
                                <div class="swiper-slide swiper-gallery-slide">
                                    <img src="img/gal-4.jpg" alt="gal">
                                </div>
                                <div class="swiper-slide swiper-gallery-slide">
                                    <img src="img/gal-5.jpg" alt="gal">
                                </div>
                                <div class="swiper-slide swiper-gallery-slide">
                                    <img src="img/gal-6.jpg" alt="gal">
                                </div>
                            </div>
                        </div>
                        <div class="agitation__pagination-item--prev swiper-button-prev"></div>
                        <div class="agitation__pagination-item--next swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer section section--bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer__wrapper">
                            <img src="img/logo-gray.svg" alt="logo" class="footer__logo">
                            <button class="button button--small button--primary">Отправить резюме</button>
                            <div class="footer__list">
                                <a href="#" class="footer__list-item">Подписаться на вакансии</a>
                                <a href="#" class="footer__list-item">Читать блог холдинга</a>
                                <a href="#" class="footer__list-item">Все об экосистеме Афанасий</a>
                                <a href="#" class="footer__list-item">Сайт холдинга Афанасий</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="footer__copy">
                            © ООО «Афанасий» 2021. Политика о данных пользователей.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>

    <script src="vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/mmenu/dist/mmenu.js"></script>
    <script src="vendor/mburger-css/dist/mburger.js"></script>
    <script src="vendor/fancybox4/dist/fancybox.umd.js"></script>
    <script src="vendor/bootstrap5/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>