<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Афанасий | Работа</title>

    <link rel="stylesheet" href="vendor/u-bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="vendor/u-bootstrap/u-bootstrap5.min.css">
    <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="vendor/mmenu/dist/mmenu.css">
    <link rel="stylesheet" href="vendor/mburger-css/dist/mburger.css">
    <link rel="stylesheet" href="vendor/fancybox4/dist/fancybox.css">
    <link rel="stylesheet" href="vendor/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
    <div id="js-page" class="page">

        <section class="section section--secondary u-bg-gradient-purple u-position-relative u-pt-0">
            <header>
                <div class="container">
                    <div class="navbar">
                        <!-- <a class="u-d-xl-none u-d-lg-block u-d-none u-w-100 u-text-center u-mb-4" href="#"><img src="img/logo.svg" alt="logo"></a> -->
                        <a class="u-pe-4" href="#"><img src="img/logo.svg" alt="logo"></a>
                        <div class="u-d-flex u-align-items-baseline">
                            <nav id="js-main-menu">
                                <ul class="navbar__list">
                                    <li class="navbar__item"><a href="#" class="navbar__link">Главная</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Вакансии</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Студентам и выпускникам</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Контакты</a></li>
                                </ul>
                            </nav>
                        </div>
                        <a class="mburger u-d-block u-d-lg-none" href="#js-main-menu">
                            <span>Меню</span>
                            <b></b>
                            <b></b>
                            <b></b>
                        </a>
                        <div class="navbar__socials u-d-lg-flex u-d-none">
                            <a href="#">
                                <img src="img/icon/ico-fb.svg" alt="fb">                            
                            </a>
                            <a href="#">
                                <img src="img/icon/ico-vk.svg" alt="fb">                            
                            </a>
                            <a href="#">
                                <img src="img/icon/ico-inst.svg" alt="fb">                            
                            </a>
                            <a href="#">
                                <img src="img/icon/ico-youtube.svg" alt="fb">                            
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="u-color-white u-mb-2 u-font-size-20"><b>Ваша должность:</b></div>
                        <div class="u-h1 u-text-white">Продавец-консультант</div>
                        <div class="u-color-white u-font-size-20">Ваш доход: <span class="text-primary">от <b>50 000</b> рублей</span></div>
                    </div>
                </div>
            </div>
            <div class="promo__scroll">
                <img src="img/icon/ico-scroll.svg" alt="scroll down">
            </div>
        </section>

        <section class="section">
            <div class="container u-position-relative">
                <div class="row">
                    <div class="col-lg-4 u-mb-4 u-mb-lg-0">
                        <img src="img/offer.png" alt="offer" class="u-mw-100">
                        <div><div class="offer-form__name">Евгений Астафьев</div></div>
                        <div class="u-font-size-14 u-color-gray">Операционный директор фирменной сети МАКЛАРИН</div>
                    </div>
                    <div class="col-lg-8">
                        <div class="u-mb-5">
                            <div class="u-h2 u-color-purple">Ищу в команду продавца-консультанта, разделяющего наш подход к созданию культуры здорового питания</div>
                            <div class="u-color-gray">Тверь. Центральный офис холдинга Афанасий</div>
                        </div>
                        <div>
                            <div class="u-mb-3">Доход: <b class="u-font-size-24 u-color-purple">от 50 000 рублей</b></div>
                            <div class="u-mb-4">Готовы рассматривать кандидатов с минимальным опытом работы: обучим процессам и активным продажам.</div>
                            <div class="u-mb-4">
                                <b>Мы приветствуем:</b>
                                <ul>
                                    <li>активность</li>
                                    <li>коммуникабельность</li>
                                    <li>ответственность</li>
                                    <li>знание 1С</li>
                                </ul>
                                <br>
                                <b>Условия:</b>
                                <ul>
                                    <li>активность</li>
                                    <li>коммуникабельность</li>
                                    <li>ответственность</li>
                                    <li>знание 1С</li>
                                </ul>
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/vshMJebnu-Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="u-font-size-24 u-mb-3"><b>Откликнуться на вакансию</b></div>
                            <form action="#" class="offer-form">
                                <div class="offer-form__input">
                                    <label for="name">Имя</label>
                                    <input name="name" id="name" type="text" placeholder="Как вас зовут?">
                                </div>
                                <div class="offer-form__input">
                                    <label for="phone">Номер телефона</label>
                                    <input name="phone" id="phone" type="text" placeholder="+7 ___ ___-__-__">
                                </div>
                                <div class="offer-form__input">
                                    <label for="email">Электронная почта</label>
                                    <input name="email" id="email" type="text" placeholder="Ваша электронная почта">
                                </div>
                                <div class="offer-form__input">
                                    <label for="doc">Резюме</label>
                                    <input name="doc" id="doc" type="file" placeholder="Ваша электронная почта">
                                </div>
                                <div class="offer-form__input u-mb-2">
                                    <textarea name="msg" id="msg" type="text" rows="5" placeholder="Дополнительная информация"></textarea>
                                </div>
                                <div class="offer-form__copy u-mb-3">Отправляя данные, вы соглашаетесь с условиями передачи персональных данных и принимаете <a href="#">политику конфиденциальности.</a></div>
                                <button type="submit" class="button button--small button--purple">Отправить резюме</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

        <footer class="footer section section--bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer__wrapper">
                            <img src="img/logo-gray.svg" alt="logo" class="footer__logo">
                            <button class="button button--small button--primary">Отправить резюме</button>
                            <div class="footer__list">
                                <a href="#" class="footer__list-item">Подписаться на вакансии</a>
                                <a href="#" class="footer__list-item">Читать блог холдинга</a>
                                <a href="#" class="footer__list-item">Все об экосистеме Афанасий</a>
                                <a href="#" class="footer__list-item">Сайт холдинга Афанасий</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="footer__copy">
                            © ООО «Афанасий» 2021. Политика о данных пользователей.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>

    <script src="vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/mmenu/dist/mmenu.js"></script>
    <script src="vendor/mburger-css/dist/mburger.js"></script>
    <script src="vendor/fancybox4/dist/fancybox.umd.js"></script>
    <script src="vendor/bootstrap5/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>