.swiper-agitation {
    --swiper-navigation-color: #107C10;
    --swiper-theme-color: #107C10;
    
    & .swiper-wrapper {
        align-items: flex-end;
    }

    .swiper-agitation-slide {
        width: 70%;
        text-align: center;
        padding-top: 200px;
        
        @media (min-width: $sm) {
            padding-top: 200px;
            width: 60%;
        }
        
        @media (min-width: $md) {
            padding-top: 150px;
        }
        
        @media (min-width: $lg) {
            padding-top: 100px;
        }
        
        @media (min-width: $xl) {
            width: 75%;
        }
        
        &__wrapper {
            position: absolute;
            text-align: left;
            top: 0;
            left: -21%;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 5px;
            padding: 10px;
            
            @media (min-width: $sm) {
                left: -32%;
            }
            
            @media (min-width: $md) {
                left: -33%;
            }
            
            @media (min-width: $lg) {
                left: initial;
                right: calc(-10% - 40px);
            }
            
            @media (min-width: $xl) {
                right: calc(-10% - 50px);
            }
            
            @media (min-width: 1400px) {
                right: calc(-10% - 60px);
            }
        
            &-title {
                font-size: 24px;
                font-weight: 700;
                position: relative;
                margin-bottom: 20px;
                display: inline-block;
                color: #2C2D2E;
                
                &::after {
                    content: '';
                    height: 2px;
                    width: 50%;
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    background-color: $color-primary;
                }
            }
            
            &-position {
                color: $color-gray-text;   
                font-weight: 300;
                margin-bottom: 15px;
            }
            
            &-description {
                color: #858DA2;
                font-size: 16px;
                font-style: italic;
                font-weight: 300;
                
                @media (min-width: $md) {
                    font-size: 20px;
                    max-width: 400px;
                }
            }
        }
        
        &__img {
            max-width: 100%;
        }
        
        &:not(.swiper-slide-active) {
            width: 15% !important;
            opacity: .3;
            
            @media (min-width: $xl) {
                width: 10% !important;
            }
            
            & .swiper-agitation-slide__wrapper {
                display: none;
            }
        }
        
        & .swiper-button-prev {
            // background-image: url('../img/icon/ico-arrow-left.svg');
            // width: 30px;
            // height: 30px;
            // background-position: center;
            // background-size: contain;
            
            // &::after {
            //     content: none !important;
            // }
        }
        
        & .swiper-button-next {
            
        }
    }
}