$color-default: #F3F3F3;
$color-primary: #107C10;
$color-secondary: #000;
$color-orange: #FF9E00;
$color-blue: #037AC4;
$color-purple: #6A40B0;

$color-gray: #F0F1F4;
$color-gray-text: #919399;
$color-gray-hover: #E6E8EC;
$color-gray-active: #DBDDE4;

$gradient-blue: linear-gradient(92.01deg, #05529C 20.05%, #037AC4 85.27%);
$gradient-green: linear-gradient(92.01deg, #107C10 20.05%, #008575 85.27%);
$gradient-purple: linear-gradient(92.01deg, #6A40B0 20.05%, #8661C5 85.27%);


$color-text: #000;
$color-text-inverted: #ffffff;
$color-text-pall: #999999;

$border-radius: 6px;

$transition-in: all 0.5s;
$transition-out: all 0.3s;


/// Fonts.

$font-size-base: 16px;
$line-height-base: 1.4;
$font-family-base: 'Arial', sans-serif;
$font-family-headings: 'Bebas Neue', sans-serif;
$font-family-banners: 'Fira Sans', sans-serif;